# Data Camp - Intro to Python

## 1.0 Python Basics

### 1.1 Comments, Printing, and Calculations

#### 1.1.2 Comments

In [1]:
# This is a comment

"""This is also a comment, but called a DocString"""

x = 10 # this is another comment
x * 2
y = x

#### 1.1.2 Operators

In [2]:
x = 10 # assignment
x = 10 + 1 - 1 # addition and subtraction
x = 10 * 2 / 3 # multiplication and division
x = 10// 2 # integer division
X = 10 % 2 # modulo, or 'remainder' operator

#### 1.1.3 Printing output

In [3]:
x = 10
print(x)
print(10 + 1 - 1 )
print(10 * 2 / 3)
print(10 // 2)
print(10 % 2)

10
10
6.666666666666667
5
0

In [4]:
print(1, 2, 3)

1 2 3

In [5]:
print("Hello", 314)

Hello 314

In [6]:
print(f"This is the first number {x}, this is the second {y}, and the third {1/3}")

This is the first number 10, this is the second 10, and the third 0.3333333333333333

We can use fstrings to control the format of our output, for instance, controlling the number of decimal places for 1/3...

In [7]:
print(f"This is the first number {x}, this is the second {y}, and the third {1/3:.2f}")

This is the first number 10, this is the second 10, and the third 0.33

### 1.2 Variables and Types

In [8]:
x = 10.234 # floating point
y = 10 # integer
z = "This is a string" # string

In [9]:
print(x, y, z)

10.234 10 This is a string

In [10]:
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'int'>
<class 'str'>

### 1.3 Expressions

Expresssions conist of operation, values and variables and follow an order of operations.

In [11]:
# what is the answer for these? do you know your order of operations?
x = 10 + 2 / 2
y = 10 ** 2 * 2
z = 10 * 2 / 3

In [12]:
print(x)
print(y)
print(z)

11.0
200
6.666666666666667

In [13]:
# These are expressions
x * 10 + 12
x = "Hello"
x * 2

# know your order of operations
print(1 + 2 * 3 + 7 ** 2) # which goes first? Remember PEMDAS

# There are also expressions, just a different type than you
# are used to. These are expressions that produce a boolean value

x = 12
x < 100
x <= 12
x == 2
x != 2 and x != 3
x % 2 != 0

# We can also have string expressions
x = "Hello"
y = "World"

print(x + " " + y)

x = '12'
y = '13'
print(x + y) # the result is 1213, not 25!

56
Hello World
1213

### 1.4 Type Conversations

In [14]:
x = "10"
y = "1"
print(x + y)

101

In [15]:
print(int(x) + int(y))

11

In [16]:
print(float(x) + float(y))

11.0

In [17]:
print(bool(x))

True

In [18]:
print(bool(0))

False

In [19]:
x = True
print(type(x))

<class 'bool'>

In [20]:
# num = input("Please enter a number: ") # uncomment this line to run the input code
# print(type(num))
# num = float(input("Please enter another number: ")) # uncomment this line to run the input code
# print(type(num))

## 2.0 Python Lists

In [21]:
### 2.1 Creating lists

In [22]:
a_list_1 = [1, 2, 3] # list of integers
a_list_2 = [1.0, 2.0, 3.0] # list of floats
a_list_3 = ["1", "2", "3"] # list of strings
a_list_4 = [1, 2.12, "3.45"] # list of mixed data types (we can put anything in a list)

In [23]:
### 2.2 Accessing Elements of a List

In [24]:
a_list_1[1]

2

In [25]:
a_list_1[0]

1

In [26]:
a_list_1[2]

3

In [27]:
# a_list_1[3] # this will generate and error (uncomment and try). Why is this? We've selected an index out of range

In [28]:
a_list_1[-1]

3

In [29]:
a_list_1[:2]

[1, 2]

In [30]:
a_list_1[1:3]

[2, 3]

In [31]:
a_list_1[1:]

[2, 3]

In [32]:
a_list_1[:2]

[1, 2]

In [33]:
a_list_1[::2]

[1, 3]

In [34]:
a_list_1[-1] # can also use negative indices... these will start from the end of the list

3

In [35]:
a_list_1[::-1] # this will reverse the order of the list

[3, 2, 1]

### 2.3 Lists of Lists

In [36]:
a_list_5 = [[1, 2, 3], [1.0, 2.0, 3.0],  ["1", "2", "3"] ] # creating a list of lists

In [37]:
a_list_5[0][0] # slicing a list of lists (first item in the first list in the list)

1

In [38]:
a_list_5[0:2] # a slice of the list of lists

[[1, 2, 3], [1.0, 2.0, 3.0]]

In [39]:
a_list_5[1] # select the second list

[1.0, 2.0, 3.0]

In [40]:
a_list_5[1][1:3] # select second list, and then select the items from index 1 up to but not including index 3

[2.0, 3.0]

### 2.4 Manipulating Lists

#### 2.4.1 Changing list elements

In [41]:
print(a_list_1)

[1, 2, 3]

In [42]:
a_list_1[0] = 123
print(a_list_1)

[123, 2, 3]

In [43]:
print(a_list_5)

[[1, 2, 3], [1.0, 2.0, 3.0], ['1', '2', '3']]

In [44]:
a_list_5[0] = [10, 11]
print(a_list_5)

[[10, 11], [1.0, 2.0, 3.0], ['1', '2', '3']]

In [45]:
a_list_5[0:2] = [[1,2,3], [4,5,6]]
print(a_list_5)

[[1, 2, 3], [4, 5, 6], ['1', '2', '3']]

### 2.4.2 List operations

#### 2.4.2.1 Concatenation

In [46]:
print(a_list_2)

[1.0, 2.0, 3.0]

In [47]:
a_list_2 + [199,200]

[1.0, 2.0, 3.0, 199, 200]

In [48]:
a_list_2

[1.0, 2.0, 3.0]

In [49]:
a_list_2 = a_list_2 + [199,200]

In [50]:
a_list_2

[1.0, 2.0, 3.0, 199, 200]

#### 2.4.2.2 Repetition

In [51]:
a_list_3 * 4

['1', '2', '3', '1', '2', '3', '1', '2', '3', '1', '2', '3']

In [52]:
a_list_2

[1.0, 2.0, 3.0, 199, 200]

In [53]:
a_list_2.pop(2)

3.0

In [54]:
a_list_2

[1.0, 2.0, 199, 200]

In [55]:
del(a_list_2[0])
print(a_list_2)

[2.0, 199, 200]

In [56]:
a_list_2.remove(199) # removes the first occurance of the value
a_list_2

[2.0, 200]

### 2.4.3 Copying lists

In [57]:
print(a_list_1)
print(a_list_2)

[123, 2, 3]
[2.0, 200]

In [58]:
some_new_list = a_list_1
print(some_new_list)

[123, 2, 3]

In [59]:
some_new_list[0] = 3210

In [60]:
print(some_new_list)

[3210, 2, 3]

In [61]:
print(a_list_1) # notice that the original a_list_1 also changes -- because, this wasn't a copy of the list contents

[3210, 2, 3]

In [62]:
# copy the contents of a list

## three approaches

x = list(a_list_1) # creates a new copy.
y = a_list_1[:] # slices the entire list, and thus creates a new copy
z = a_list_1.copy() # calling the copy method (a method is like a function that is attached to an object)

In [63]:
print(a_list_1)
print(x)
print(y)
print(z)

[3210, 2, 3]
[3210, 2, 3]
[3210, 2, 3]
[3210, 2, 3]

In [64]:
x[0] = 1

In [65]:
print(a_list_1)
print(x) # notice that it's only the list x that is changes
print(y)
print(z)

[3210, 2, 3]
[1, 2, 3]
[3210, 2, 3]
[3210, 2, 3]

## 3.0 Functions and Packages

### 3.1 Functions

In [66]:
type(1) # "type" is a function. "1" is an argument. We have 'called' the type function and sent as an argument the value 1

int

In [67]:
print(a_list_1)

[3210, 2, 3]

In [68]:
print(max(a_list_1))

3210

In [69]:
print(min(a_list_1))

2

In [70]:
print(sum(a_list_1))

3215

In [71]:
print(len(a_list_3))

3

In [72]:
print(sum(a_list_2)/len(a_list_3))

67.33333333333333

In [73]:
print(2/3)

0.6666666666666666

In [74]:
print(round(2/3, 3)) # the first argument if the value, the second is the number of decimal places

0.667

In [75]:
print(round(2/3)) # if sent only one argument, round will round to the nearest integer

1

> there are many more python functions, and libraries that contain functions. Google, search the Python documentation, the documentation of a library, etc. And you find more functions!

### 3.2 Methods

All types in python are 'objects'. Objects can have 'methods' attached to them. These are actions that can be taken with the object.

In [76]:
fam = ['bob', 'jill', 'dad', 'mom']

In [77]:
fam.index("mom")

3

In [78]:
other_fam = fam.copy()

In [79]:
print(fam[0])

bob

In [80]:
fam[0].capitalize()

'Bob'

In [81]:
# also, jupyter lab has auto complete... below, type in fam. then the tab character

#### 3.2.1 some methods will change their objects data, and some do not.

In [82]:
brother = fam[0]
brother.capitalize()

'Bob'

In [83]:
brother #notice that brother hasn't been changed.

'bob'

In [84]:
fam.append("Judy")

In [85]:
fam # notice that fam has changes

['bob', 'jill', 'dad', 'mom', 'Judy']

### 3.3 Packages

> NOTE: With jupyter lab in Anaconda, it's best to install packages using conda or the Anaconda navigator.
* AVOID using PIP! Only use if conda/navigator method does not work. 
* The professor will go over this in class

Once a package is installed on the computer (and many are already installed; i.e. numpy), then you can import this package into your program

In [87]:
import math

x = [1,2]

In [ ]:
# once imported, you can use parts of the package as follows.
print(math.sqrt(4))
print(math.sin(90))

In [ ]:
# you can also specify which parts of a package are importe - and once done, they are part of the same
# namespace as the program (that means, you do not need to proceed their call with the library name)
from math import sin

print(sin(90)) # notice that now, I don't need to enter math.sin(90)

In [ ]:
# you can also import the entire library into the current program namespace

from math import *

print(sin(90))
print(pi)
print(e)

> NOTE: Importing the prackage contents into the programs namespace can save you some typing (since you do not need to indicate the library name), but it can sometimes get you into trouble (if you already have your own function, or a function from another package, that's already been created). This issue will be easier to understand once we've covered the creation of functions (this is covered in another notebook)

## 4.0 Numpy

### 4.1 Installing and importing numpy

The numpy package is installed as part of the Anaconda distribution (you will not need to install it, only import it and use it).

In [ ]:
import numpy # this is one way to import

In [ ]:
numpy.asarray([1,2,3])

In [ ]:
# but, you can also rename a package (to a shorter name) when importing

import numpy as np # this is a very common way to import numpy

np.asarray([2,3,4])

### 4.2 Numpy basics

#### 4.2.1 Lists versus numpy array

In [ ]:
# Here are some regular lists...
height = [1.75, 1.34, 1.56, 1.54, 1.48]
weight = [65.4, 56.7, 73.8, 65.4, 49.8]

Numpy is a package that is commonly used in data science. It allows you to easily conduct vector/matrix calculations; and in general, conduct operations easily (and fast) over large arrays of data.

In [ ]:
height_np = np.asarray(height)
weight_np = np.asarray(weight)

In [ ]:
bmi = weight_np / height_np ** 2
print(bmi)

In [ ]:
# notice that we can't do a calculation of bmi as easily if you only had the lists
# note that the code in this cell creates and error (to demonstrate now lists and numpy differ)
#bmi = weight / height ** 2
#print(bmi)

#### 4.2.2 Operations on numpy arrays

In [ ]:
np_ra1 = np.array([1,2,3,4])

In [ ]:
np_ra1 * 2 # multiple all elements of the array by 2

In [ ]:
np_ra1 ** 2 # take easy element in the array and square it

In [ ]:
np_ra2 = np.array([3,4,5, 8])

In [ ]:
np_ra1 * np_ra2 # we can even multiple (and subtract, add, or divide) two lists

In [ ]:
np_ra1 / np_ra2

In [ ]:
np_ra1 + np_ra2

In [ ]:
np_ra1 - np_ra2

#### 4.2.3 Numpy arrays only contain one type

In [ ]:
 np.array([1.0, "is", True]) # np will turn all of these into a string

In [ ]:
np.array([1.0, 2, 3.9]) # these will all become float

Notice that Numpy will choose the smallest datatype that can hold all the content.

#### 4.2.4 NumPy Subsetting

In [ ]:
bmi

In [ ]:
bmi > 23

In [ ]:
bmi[bmi > 23]

### 4.3 2D Numpy arrays

In [ ]:
np_2d = np.array([np.asarray(height), np.asarray(weight)])
np_2d

In [ ]:
np_2d.shape  # NOTICE that this isn't a method, rather it's an attribut of the np_2d object

In [ ]:
# selecting first row, 3rd element (this is the same as lists!)
np_2d[0][2]

In [ ]:
# BUT, with numpy arrays we can also do...
np_2d[0,2] # once you get used to this approach, it's more intiutive and easier that the list approach

In [ ]:
np_2d[:,1:3] # select the columns at index 1 and 2 for all rows

In [ ]:
np_2d[1,:] # select all the weights

### 4.4 Numpy Basic Stats

In [ ]:
np_height = np.array(height)
np_weight = np.array(weight)

In [ ]:
np_height.mean()

In [ ]:
np_height.std()

In [ ]:
# np_height.median() # note that there isn't a median method...

... using np functions (not methods)....

In [ ]:
np.median(np_height)

In [ ]:
np.mean(np_height)

In [ ]:
np.corrcoef(np_height, np_weight)

In [ ]:
np.std(np_height)

In [ ]:
np.var(np_height)

In [ ]:
np.sum(np_height)

In [ ]:
# here, we will generate 20 weights and height from randomly sampling a normal distribution
np_height = np.round(np.random.normal(1.75, 0.2, 20), 2)
np_weight = np.round(np.random.normal(60.32, 15, 20), 2)
np_people = np.column_stack((np_height, np_weight))
np_people